streamlit==1.52.1
ultralytics==8.3.30
torch==2.2.2
torchvision==0.17.2

numpy<2
Pillow

# FORCE HEADLESS OpenCV
opencv-python-headless==4.10.0.84
# BLOCK full OpenCV from being installed by dependencies
opencv-python==0.0.0
